
/* initial design start  */

*{
	margin:0 ;
	padding:0 ;
	box-sizing:border-box ;
}

html{
	scroll-behavior:smooth ;
}

body{
	font-family:"Rubik", sans-serif;
	/* height:875px ; */
	background-color:#f8f9f9;
}

/* column size start  */

.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width: 25%;}
.col-4{width:33.33%;}
.col-5{width:41.33%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}

/* colimn size end  */


/* initilal design end  */



/* mainDiv design start  */

#mainDiv{
	height:100vh;
	margin:0 auto ;
	display:flex;
	flex-wrap:wrap ;
	justify-content:center ;
	align-items:center ;
	padding:10px ;
	
}

/* mainDiv design end  */

/* main div child design start  */

#left{
	width:40% ;
}

#left h1{
	color:#1049e1;
	font-weight:bold ;
	padding:10px 0px ;
	font-size:3.8rem;
}

#left h1,h3{
	margin-left:25% ;
}

#left h3{
	font-weight:normal ;
}

#right{
	width:60% ;
}

#right form{
	width:60% ;
	margin:0 auto ;
	display:flex ;
	flex-direction:column;
	flex-wrap:wrap ;
	justify-content:center ;
	align-items:center ;
	background-color:#fff ;
	border-radius :15px ;
	text-align:center ;
	padding:10px ;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2), 0 -4px 4px rgba(0, 0, 0, 0.2), 4px 0 4px rgba(0, 0, 0, 0.2), -4px 0 4px rgba(0, 0, 0, 0.2);
}

#right form div{
	width:90% ;
}

#right form div input{
	width:100% ;
	height:45px ; 
	border:1px solid #ddd ;
	padding:10px ;
	margin:10px 5px ;
	border-radius :10px ;
}


#right form input[type=submit]{
	background-color:#4061f5;
	color:white ;
	font-size:1.2rem ;
	font-weight:bold ;
}

#right form input[type=submit]:hover{
	cursor:pointer ;
}

#forgottenPass{
	margin-bottom:1px solid #ddd ;
}

#right form #forgottenPass a{
	text-decoration:none ;
	font-size:0.8rem ;
	color:#5970d6 ;
}

#right form #forgottenPass a:hover{
	text-decoration:underline ;
}

#right p{
	text-align:center ;
	padding:15px ;
	margin-top:10px ;
	font-size:0.9rem ;
}

#right p a{
	color:black ;
	font-weight:bold ;
	text-decoration:none ;
}

#right p a:hover{
	text-decoration:underline ;
}

button{
	width:60% ;
	height:45px ;
	padding:5px ;
	margin:25px 10px ;
	background-color:#34aa1f ;
	border:none ;
	color:#fff ;
	font-size:0.9rem ;
	font-weight:bold ;
	border-radius:5px ;
}

button:hover{
	background-color:#308521 ;
	cursor:pointer;
}


/* main div child design end  */

/* footer deign start */

footer section{
	background-color:white ;
	text-align:left ;
}

#footerSectionChild1,#footerSectionChild2{
	margin:10px auto ;
	border-bottom:1px solid #ddd ;
	padding:20px ;
	
}

footer div a{
	padding:10px 7px ;
	text-decoration:none ;
	color : #85929e ;
	font-size:0.7rem ;
}

footer div a:hover{
	color:blue ;
}

section p{
	padding:10px 7px ;
	text-decoration:none ;
	color : #85929e ;
	font-size:0.7rem ;
	text-align:left;
}

/* footer design end  */


